/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

/* designed for use with Dark theme */


/* UNCOMMENT THIS RULE TO: */
/* hide the 'click to add tag' button */
/* div.resizableLayoutItem.rli-root > div.resizableLayoutItem.rli-editor > div:first-child > div:first-child > div:first-child > div:nth-child(4){ */
/*   display:       none !important; */
/* } */



:root {
  /*
  headers
    .cm-header-1,
    .cm-header-2,
    .cm-header-3,
    .cm-header-4,
    .cm-header-5,
    .cm-header-6
  */
  /* mauve */
  --color-headers:      #eebaff;
  /*
  italics
    .cm-em,
  inline comments
    span.cm-comment,
  katex brackets
    .cm-bracket
  */
  /* glossy grape */
  --color-italics:      #B18EB1;
  /*
  bold
    .cm-strong
  */
  /* carolina blue */
  --color-bold:         #5fa2d0;
  /*
  block quote
    .cm-quote,
  katex numbers
    .cm-number
  */
  /* steel teal */
  --color-quote:        #548281;

  /*
  inline code
    span.cm-comment
  */
  --border-code:        1px solid rgb(70, 70, 70);
  --backgd-code:        rgba(47, 48, 49, 0.15);
  --radius-code:        .25em;

  /*
  inline code italics
    span.cm-comment.cm-em
  */
  /* phlox */
  --color-code-ital:    #ed00ff;
  /*
  inline code bold
    span.cm-comment.cm-strong
  */
  /* cornflower blue */
  --color-code-bold:    #6495ed;
  /*
  katex tags
    .cm-tag
  */
  /* orange */
  --color-katx-tags:    #ff8c2f;



  /*
  editor last line floor
    div.CodeMirror.CodeMirror-wrap,
    div.resizableLayoutItem.rli-editor
  */
  --size-floor:         10px;
  /*
  scrollbar dimensions
    -webkit-scrollbar
  */
  --size-scroll:        18px;
  /* cm-tab font-size */
  --size-tab:           9px;



  /* Note List */

  /*
  empty list area background color
    .note-list
  */
  --backgd-list:        #000000;

  /* Alternating Note List Colors */

  /* .note-list > .list-item-container:nth-child(odd) a */
  /*  ODD background rows  */
  /* rich black */
  --backgd-list-note1:  #060606;
  /*  EVEN background rows  */
  /* eerie black */
  --backgd-list-note0:  #191919;


  /* Notebook List */

  /*  Alternating Notebook List Colors */

  /* .list-item-container:nth-child(odd) a */
  /*  default/passthrough background for all the ODD rows  */
  /* eerie black */
  --backgd-list-book1:  #1D2024;
  /*  default/passthrough background for all the EVEN rows  */
  --backgd-list-book0:  #141414;

  /* .list-item-depth-0:nth-child(odd) a */
  /* 0 - base black / dark grey */
  /*   0 depth rows ODD */
  --backgd-list-0book1: #000000;
  /*   0 depth rows EVEN */
  --backgd-list-0book0: #121212;

  /* .list-item-depth-1:nth-child(odd) a */
  /* 1 - dark purple */
  /*   1 depth rows ODD */
  --backgd-list-1book1: #220828;
  /*   1 depth rows EVEN */
  --backgd-list-1book0: #270c2d;

  /* 2 - dark blue */
  /*   2 depth rows ODD */
  --backgd-list-2book1: #081a28;
  /*   2 depth rows EVEN */
  --backgd-list-2book0: #0c1e2d;

  /* 3 - dark green */
  /*   3 depth rows ODD */
  --backgd-list-3book1: #092a0c;
  /*   3 depth rows EVEN */
  --backgd-list-3book0: #0c2d0f;

  /* 4 - dark purple */
  /*   4 depth rows ODD */
  --backgd-list-4book1: #211733;
  /*   4 depth rows EVEN */
  --backgd-list-4book0: #241A36;

  /* 5 - dark brown */
  /*   5 depth rows ODD */
  --backgd-list-5book1: #1e1515;
  /*   5 depth rows EVEN */
  --backgd-list-5book0: #211818;


  /* Tag List */

  /* Alternating List Items */
  /* div.tags > div.list-item-container:nth-child(odd) a */
  /* dark green */
  --backgd-list-tags1:  #092a0c;
  --backgd-list-tags0:  #0c2d0f;
}



/* begin fix for the cutoff of last line in editor */

div.resizableLayoutItem.rli-editor > div:first-child > div:first-child > div:nth-child(2) > div:first-child > div:nth-child(2) {
  margin-bottom:    var(--size-floor);
}

div.CodeMirror.CodeMirror-wrap {
  padding-bottom:   var(--size-floor);
}

/* end fix for the cutoff of last line in editor */


/* colorize headers */
.cm-header-1, .cm-header-2, .cm-header-3, .cm-header-4, .cm-header-5, .cm-header-6 {
  color:            var(--color-headers) !important;
}

/* colorize italics */
.cm-em {
  color:            var(--color-italics) !important;
}

/* colorize bold */
.cm-strong {
  color:            var(--color-bold) !important;
}

/* colorize and italicize blockquote */
.cm-quote {
  color:            var(--color-quote);
  font-style:       italic !important;
}

/* inline code */
.cm-s-material-darker pre.CodeMirror-line > span > span.cm-comment {
  color:            var(--color-italics) !important;
  border:           var(--border-code);
  background-color: var(--backgd-code);
  border-radius:    var(--radius-code);
}

/* inline code italics */
.cm-s-material-darker pre.CodeMirror-line > span > span.cm-comment.cm-em {
  color:            var(--color-code-ital) !important;
}

/* inline code bold */
.cm-s-material-darker pre.CodeMirror-line > span > span.cm-comment.cm-strong {
  color:            var(--color-code-bold) !important;
}

.cm-tab {
  font-size:        var(--size-tab) !important;
}


/* colorize katex tags */
.cm-tag {
  color:            var(--color-katx-tags) !important;
}


/* colorize katex brackets */
.cm-bracket {
  font-weight:      bold !important;
  color:            var(--color-italics) !important;
}


/* colorize katex numbers */
.cm-number {
  font-weight:      bold !important;
  color:            var(--color-quote) !important;
}




/* widen default horizontal and vertical scrollbars */
::-webkit-scrollbar {
  width:            var(--size-scroll);
  height:           var(--size-scroll);
}


/*  Alternating Tag List Colors - green */

div.tags > div.list-item-container:nth-child(odd) a{
  background-color: var(--backgd-list-tags1);
}

div.tags > div.list-item-container:nth-child(even) a{
  background-color: var(--backgd-list-tags0);
}



/*  Define the background color for empty list areas  */
.note-list
{ 
  background-color: var(--backgd-list) !important;
}

/*  Alternating Note List Colors */

/*  Define the list background color for all the ODD background rows  */
.note-list > .list-item-container:nth-child(odd) a{ 
  background-color: var(--backgd-list-note1);
  background-clip:  content-box;
}

/*  Define the list background color for all the EVEN background rows  */
.note-list > .list-item-container:nth-child(even) a{
  background-color: var(--backgd-list-note0);
  background-clip:  content-box;
}



/*  Alternating Notebook Colors */

/*  Define the default/passthrough notebook background color for all the ODD background rows  */
.list-item-container:nth-child(odd) a{ 
  background-color: var(--backgd-list-book1);
}

/*  Define the default/passthrough notebook background color for all the EVEN background rows  */
.list-item-container:nth-child(even) a{
  background-color: var(--backgd-list-book0);
}


/* 0 - base black / dark grey */
.list-item-depth-0:nth-child(odd) a{ 
  background-color: var(--backgd-list-0book1);
}

.list-item-depth-0:nth-child(even) a{
  background-color: var(--backgd-list-0book0);
}

/* 1 - dark purple */
.list-item-depth-1:nth-child(odd) a{ 
  background-color: var(--backgd-list-1book1);
}

.list-item-depth-1:nth-child(even) a{
  background-color: var(--backgd-list-1book0);
}

/* 2 - blue */
.list-item-depth-2:nth-child(odd) a{ 
  background-color: var(--backgd-list-2book1);
}

.list-item-depth-2:nth-child(even) a{
  background-color: var(--backgd-list-2book0);
}

/* 3 - green */
.list-item-depth-3:nth-child(odd) a{
  background-color: var(--backgd-list-3book1);
}

.list-item-depth-3:nth-child(even) a{
  background-color: var(--backgd-list-3book0);
}


/* 4 - purple */
.list-item-depth-4:nth-child(odd) a{ 
  background-color: var(--backgd-list-4book1);
}

.list-item-depth-4:nth-child(even) a{
  background-color: var(--backgd-list-4book0);
}

/* 5 - brown */
.list-item-depth-5:nth-child(odd) a{ 
  background-color: var(--backgd-list-5book1);
}

.list-item-depth-5:nth-child(even) a{
  background-color: var(--backgd-list-5book0);
}
